.folder-note-list {
    width: 300px;
    background-color: rgb(245, 245, 245);
    padding: 0%;
    margin: 0%;
    height: 100%;
    overflow-y:auto;
}

.folder-note-list-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list-header-buttons {
    margin: auto;
    border: black 1px solid;
}

.create-note-button {
    border-radius: 4px;
    color: rgb(229, 68, 68);
}

.list-headers {
    padding: 0;
}


.folders-display {
    margin: auto;
    width: 80%;
    max-width: 550px;
    border: black 1px solid;
    border-radius: 12px;
    height: 80vh;
    padding: 20px;

}

.folders-table {
    margin: auto;
    width: 80%;
    max-width: 550px;
    border: black 1px solid;
    border-radius: 12px;
    /* height: 80vh; */
    padding: 20px;

}

.folders-table {
    overflow-y: scroll;
    padding: 10px;
    height: 95%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.folders-table > tr {
    width: 100%;
}


.note-title {
    text-decoration: none;
    list-style: none;
    border: black 1px solid;
}

.folder-card-note-list {
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.folder-card-heading {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 196, 168);
}

.folder-card-title {
    font-weight: 700;
}

.folders-page-header {
    display: flex;
    justify-content: space-between;
}

.note-card {
    max-height: 100px;
    overflow-y:hidden;
}

/* .material-symbols-outlined {
    margin
} */

/* .icon {
    margin-top: 22px;
} */

.add-button {
    margin-top: 50%;
}

.fa-solid.fa-plus {
    color: red;
}