.folder-note-list {
    width: 200px;
    background-color: rgb(245, 245, 245);
    padding: 0%;
    margin: 0%;
}

.folder-note-list-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list-header-buttons {
    margin: auto
}

.create-note-button {
    background-color: rgb(249, 131, 112);
    border-radius: 4px;
}

.list-headers {
    padding: 0;
}

.folder-card {

}

.folders-table {
    margin: auto;

}

.note-title {
    text-decoration: none;
    list-style: none;
    border: black 1px solid;
}

.folder-card-note-list {
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.folder-card-heading {
    display: flex;
    justify-content: space-between;
}

.folder-card-title {
    font-weight: 700;
}

.folders-page-header {
    display: flex;
    justify-content: space-between;
}

/* .material-symbols-outlined {
    margin
} */

/* .icon {
    margin-top: 22px;
} */

.add-button {
    margin-top: 50%;
}