/* form {
    display: flex;
    width: 400px;
    border: 1px black solid;
    margin: auto;
  } */

  .cell {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .user-login-form {
      width: 400px;
      margin: auto;
      border: black 1px solid;
      padding: 10px;
      margin-top: 15%;
  }

  .user-login-form > * {
      margin-bottom: 5px;
  }