body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.main-view {
    border: 1px black solid;
    width: 100%;
    /* max-width: 800px; */
    min-width: 500px;
    background-color: white;
    padding: 0%;
    margin: 0;
    display: flex;
}

.page-view {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navigation-wrapper {
    width: 20%;
    max-width: 220px;
    min-width: 180px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-view {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(227, 245, 243);
}

.left-view {
    background-color: rgb(227, 245, 243);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.right-view {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 85%;
    margin: 15px;
    border: 3px solid black;
}