.main-view {
    border: 1px black solid;
    width: 45%;
    max-width: 800px;
    min-width: 400px;
}

.page-view {
    display: flex;
    flex-direction: row;
}

.navigation-wrapper {
    width: 20%;
    max-width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}