.navigation-bar {
    max-width: 120px;
    min-width: 90px;
    /* width: 15%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: black solid 1px;
    background-color: rgb(24, 23, 23);
    color: white;
    font-size: 16px;
    align-items: center;
}

.navigation-bar-item {
    display: flex;
    list-style: none;
    height: 30px;
    margin: 3px;
   line-height: 30px;
   padding-top: 3px;
   padding-bottom: 3px;
   margin-left: 8px;
   justify-content: center;

}


/* .navigation-bar-item:hover {
    background-color: rgba(140, 128, 128, 0.393);
} */

.nav-text-content {
    padding-bottom: 3px;
}

.profile-dropdown {
    background-color: white;
    border: black 1px solid;
}

.fa-solid {
    color: rgb(243, 235, 235);
    margin-right: 8px;
    width: 14px;
    font-size: 25px;
}

.fa-solid:hover {
    font-size: 30px;
    text-shadow: #FC0 1px 0 10px;

}

.fa-brands:hover {
    font-size: 30px;
    text-shadow: #FC0 0 0 13px;
}

.fa-solid:active {
    font-size: 30px;
    color: rgb(11, 170, 170);
    text-shadow: #FC0 1px 0 10px;
}

.fa-brands:active {
    font-size: 30px;
}


.fa-brands:hover {
    font-size: 30px;
}

.fa-brands {
    color: rgb(243, 235, 235);
    margin-right: 8px;
    width: 14px;
    font-size: 25px;
}

.drop-down-items {
    padding-left: 3px;
    margin-left: 8px;
}

.navigation-bar-item + .drop-down-item {
    font-size: 12px;
}


.top-bar {
    display: flex;
    margin-bottom: 15px;
}

.logo-img {
    width: 45px;
    height: 45px;
    background-image: url(../images/logo-small.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 20px;
}

li div {
    position: relative;
    left: -10px;
  }

.folderLink {
    width: 25px;
    display: inline;
}

.folderLink:hover {
    text-shadow: #FC0 0 0 13px;
}

.folderLink:active {
    text-shadow: #FC0 3px 3px 15px;
    font-size: 13px;
}

/* .fa-brands:hover {
    font-size: 30px;
    text-shadow: #FC0 0 0 13px;
}

.fa-solid:active {
    font-size: 30px;
    color: rgb(11, 170, 170);
    text-shadow: #FC0 1px 0 10px;
} */

/* .link {
    font-size: 10px;
} */

.fa-angle-right:active
{
        -webkit-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
}

.username {
    margin-left: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
}

.nav-link-box {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 6px;
}

#nav-list-icon {
    font-size: 12px;
}

.drop-down-item {
    align-self: flex-start;
    margin-left: 0;
    padding-left: 0;
    align-items: flex-start;
}