.navigation-bar {
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: black solid 1px;
}

.navigation-bar-item {
    list-style: none;
    height: 30px;
    border: black solid 1px;
    margin: 3px;
   line-height: 30px;
   padding-top: 3px;
   padding-bottom: 3px;
}

.nav-text-content {
    padding-bottom: 3px;
}

.profile-dropdown {
    background-color: white;
    border: black 1px solid;
}